In [144]:
import pandas as pd
import numpy as np

In [145]:
raw_csv_data = pd.read_csv("Absenteeism-data.csv", delimiter=",")

In [146]:
raw_csv_data.head(20)

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,11,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,36,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,3,23,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,7,7,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,11,23,23/07/2015,289,36,33,239.554,30,1,2,1,2
5,3,23,10/07/2015,179,51,38,239.554,31,1,0,0,2
6,10,22,17/07/2015,361,52,28,239.554,27,1,1,4,8
7,20,23,24/07/2015,260,50,36,239.554,23,1,4,0,4
8,14,19,06/07/2015,155,12,34,239.554,25,1,2,0,40
9,1,22,13/07/2015,235,11,37,239.554,29,3,1,1,8
10,20,1,20/07/2015,260,50,36,239.554,23,1,4,0,8
11,20,1,14/07/2015,260,50,36,239.554,23,1,4,0,8
12,20,11,15/07/2015,260,50,36,239.554,23,1,4,0,8
13,3,11,15/07/2015,179,51,38,239.554,31,1,0,0,1
14,3,23,15/07/2015,179,51,38,239.554,31,1,0,0,4
15,24,14,17/07/2015,246,25,41,239.554,23,1,0,0,8
16,3,23,17/07/2015,179,51,38,239.554,31,1,0,0,2
17,3,21,27/07/2015,179,51,38,239.554,31,1,0,0,8
18,6,11,30/07/2015,189,29,33,239.554,25,1,2,2,8
19,33,23,05/08/2015,248,25,47,205.917,32,1,2,1,2

In [147]:
df = raw_csv_data.copy()

In [148]:
#pd.options.display.max_columns = None
#pd.options.display.max_rows= None

In [149]:
df.head(20)

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,11,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,36,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,3,23,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,7,7,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,11,23,23/07/2015,289,36,33,239.554,30,1,2,1,2
5,3,23,10/07/2015,179,51,38,239.554,31,1,0,0,2
6,10,22,17/07/2015,361,52,28,239.554,27,1,1,4,8
7,20,23,24/07/2015,260,50,36,239.554,23,1,4,0,4
8,14,19,06/07/2015,155,12,34,239.554,25,1,2,0,40
9,1,22,13/07/2015,235,11,37,239.554,29,3,1,1,8
10,20,1,20/07/2015,260,50,36,239.554,23,1,4,0,8
11,20,1,14/07/2015,260,50,36,239.554,23,1,4,0,8
12,20,11,15/07/2015,260,50,36,239.554,23,1,4,0,8
13,3,11,15/07/2015,179,51,38,239.554,31,1,0,0,1
14,3,23,15/07/2015,179,51,38,239.554,31,1,0,0,4
15,24,14,17/07/2015,246,25,41,239.554,23,1,0,0,8
16,3,23,17/07/2015,179,51,38,239.554,31,1,0,0,2
17,3,21,27/07/2015,179,51,38,239.554,31,1,0,0,8
18,6,11,30/07/2015,189,29,33,239.554,25,1,2,2,8
19,33,23,05/08/2015,248,25,47,205.917,32,1,2,1,2

In [150]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ID                         700 non-null    int64
 1   Reason for Absence         700 non-null    int64
 2   Date                       700 non-null    object
 3   Transportation Expense     700 non-null    int64
 4   Distance to Work           700 non-null    int64
 5   Age                        700 non-null    int64
 6   Daily Work Load Average    700 non-null    float64
 7   Body Mass Index            700 non-null    int64
 8   Education                  700 non-null    int64
 9   Children                   700 non-null    int64
 10  Pets                       700 non-null    int64
 11  Absenteeism Time in Hours  700 non-null    int64
dtypes: float64(1), int64(10), object(1)
memory usage: 65.8+ KB

In [151]:
df = df.drop(['ID'],axis = 1)

In [152]:
df.head(20)

,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,23,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,7,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,23,23/07/2015,289,36,33,239.554,30,1,2,1,2
5,23,10/07/2015,179,51,38,239.554,31,1,0,0,2
6,22,17/07/2015,361,52,28,239.554,27,1,1,4,8
7,23,24/07/2015,260,50,36,239.554,23,1,4,0,4
8,19,06/07/2015,155,12,34,239.554,25,1,2,0,40
9,22,13/07/2015,235,11,37,239.554,29,3,1,1,8
10,1,20/07/2015,260,50,36,239.554,23,1,4,0,8
11,1,14/07/2015,260,50,36,239.554,23,1,4,0,8
12,11,15/07/2015,260,50,36,239.554,23,1,4,0,8
13,11,15/07/2015,179,51,38,239.554,31,1,0,0,1
14,23,15/07/2015,179,51,38,239.554,31,1,0,0,4
15,14,17/07/2015,246,25,41,239.554,23,1,0,0,8
16,23,17/07/2015,179,51,38,239.554,31,1,0,0,2
17,21,27/07/2015,179,51,38,239.554,31,1,0,0,8
18,11,30/07/2015,189,29,33,239.554,25,1,2,2,8
19,23,05/08/2015,248,25,47,205.917,32,1,2,1,2

In [153]:
df['Reason for Absence'].min()

0

In [154]:
df['Reason for Absence'].max()

28

In [155]:
pd.unique(df['Reason for Absence'])

array([26,  0, 23,  7, 22, 19,  1, 11, 14, 21, 10, 13, 28, 18, 25, 24,  6,
       27, 17,  8, 12,  5,  9, 15,  4,  3,  2, 16])

In [156]:
df['Reason for Absence'].unique()

array([26,  0, 23,  7, 22, 19,  1, 11, 14, 21, 10, 13, 28, 18, 25, 24,  6,
       27, 17,  8, 12,  5,  9, 15,  4,  3,  2, 16])

In [157]:
len(df['Reason for Absence'].unique())

28

In [158]:
sorted(df['Reason for Absence'].unique())

[np.int64(0),
 np.int64(1),
 np.int64(2),
 np.int64(3),
 np.int64(4),
 np.int64(5),
 np.int64(6),
 np.int64(7),
 np.int64(8),
 np.int64(9),
 np.int64(10),
 np.int64(11),
 np.int64(12),
 np.int64(13),
 np.int64(14),
 np.int64(15),
 np.int64(16),
 np.int64(17),
 np.int64(18),
 np.int64(19),
 np.int64(21),
 np.int64(22),
 np.int64(23),
 np.int64(24),
 np.int64(25),
 np.int64(26),
 np.int64(27),
 np.int64(28)]

In [159]:
reason_columns = pd.get_dummies(df['Reason for Absence'])

In [160]:
reason_columns.head(20)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,21,22,23,24,25,26,27,28
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
1,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False
3,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
10,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False

In [161]:
reason_columns['check'] = reason_columns.sum(axis=1)
reason_columns.head(20)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,21,22,23,24,25,26,27,28,check
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,1
1,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,1
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,1
3,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,1
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,1
5,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,1
6,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,1
7,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,1
8,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,1
9,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,1
10,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,1
11,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,1
12,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,1
13,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,1
14,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,1
15,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,1
16,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,1
17,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,1
18,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,1
19,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,1

In [162]:
reason_columns['check'].sum(axis=0)

np.int64(700)

In [163]:
reason_columns['check'].unique()

array([1])

In [164]:
reason_columns = reason_columns.drop(['check'], axis=1)
reason_columns.head(20)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,21,22,23,24,25,26,27,28
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
1,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False
3,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
10,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False

In [165]:
reason_columns = pd.get_dummies(df['Reason for Absence'], drop_first=True)

In [166]:
reason_columns.head(20)

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,21,22,23,24,25,26,27,28
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False
3,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
10,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False

In [167]:
df.columns.values

array(['Reason for Absence', 'Date', 'Transportation Expense',
       'Distance to Work', 'Age', 'Daily Work Load Average',
       'Body Mass Index', 'Education', 'Children', 'Pets',
       'Absenteeism Time in Hours'], dtype=object)

In [168]:
reason_columns.columns.values

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 21, 22, 23, 24, 25, 26, 27, 28])

In [169]:
df = df.drop(['Reason for Absence'], axis=1)

In [170]:
reason_columns.loc[:, 1:14].max(axis=1).head(20)

0     False
1     False
2     False
3      True
4     False
5     False
6     False
7     False
8     False
9     False
10     True
11     True
12     True
13     True
14    False
15     True
16    False
17    False
18     True
19    False
dtype: bool

In [171]:
reason_type_1=reason_columns.loc[:, 1:14].max(axis=1)
reason_type_2=reason_columns.loc[:, 15:17].max(axis=1)
reason_type_3=reason_columns.loc[:, 18:21].max(axis=1)
reason_type_4=reason_columns.loc[:, 22:].max(axis=1)

In [172]:
df.head()

,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,23/07/2015,289,36,33,239.554,30,1,2,1,2

In [173]:
df = pd.concat([df, reason_type_1, reason_type_2, reason_type_3,reason_type_4],axis=1)
df.head(20)

,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,0,1,2,3
0,07/07/2015,289,36,33,239.554,30,1,2,1,4,False,False,False,True
1,14/07/2015,118,13,50,239.554,31,1,1,0,0,False,False,False,False
2,15/07/2015,179,51,38,239.554,31,1,0,0,2,False,False,False,True
3,16/07/2015,279,5,39,239.554,24,1,2,0,4,True,False,False,False
4,23/07/2015,289,36,33,239.554,30,1,2,1,2,False,False,False,True
5,10/07/2015,179,51,38,239.554,31,1,0,0,2,False,False,False,True
6,17/07/2015,361,52,28,239.554,27,1,1,4,8,False,False,False,True
7,24/07/2015,260,50,36,239.554,23,1,4,0,4,False,False,False,True
8,06/07/2015,155,12,34,239.554,25,1,2,0,40,False,False,True,False
9,13/07/2015,235,11,37,239.554,29,3,1,1,8,False,False,False,True
10,20/07/2015,260,50,36,239.554,23,1,4,0,8,True,False,False,False
11,14/07/2015,260,50,36,239.554,23,1,4,0,8,True,False,False,False
12,15/07/2015,260,50,36,239.554,23,1,4,0,8,True,False,False,False
13,15/07/2015,179,51,38,239.554,31,1,0,0,1,True,False,False,False
14,15/07/2015,179,51,38,239.554,31,1,0,0,4,False,False,False,True
15,17/07/2015,246,25,41,239.554,23,1,0,0,8,True,False,False,False
16,17/07/2015,179,51,38,239.554,31,1,0,0,2,False,False,False,True
17,27/07/2015,179,51,38,239.554,31,1,0,0,8,False,False,True,False
18,30/07/2015,189,29,33,239.554,25,1,2,2,8,True,False,False,False
19,05/08/2015,248,25,47,205.917,32,1,2,1,2,False,False,False,True

In [174]:
df.columns.values

array(['Date', 'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours', 0, 1, 2, 3],
      dtype=object)

In [175]:
column_names = ['Date', 'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours', 'Reason_1', 'Reason_2', 'Reason_3', 'Reason_4']

In [176]:
df.columns = column_names

In [177]:
df.head(20)

,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Reason_1,Reason_2,Reason_3,Reason_4
0,07/07/2015,289,36,33,239.554,30,1,2,1,4,False,False,False,True
1,14/07/2015,118,13,50,239.554,31,1,1,0,0,False,False,False,False
2,15/07/2015,179,51,38,239.554,31,1,0,0,2,False,False,False,True
3,16/07/2015,279,5,39,239.554,24,1,2,0,4,True,False,False,False
4,23/07/2015,289,36,33,239.554,30,1,2,1,2,False,False,False,True
5,10/07/2015,179,51,38,239.554,31,1,0,0,2,False,False,False,True
6,17/07/2015,361,52,28,239.554,27,1,1,4,8,False,False,False,True
7,24/07/2015,260,50,36,239.554,23,1,4,0,4,False,False,False,True
8,06/07/2015,155,12,34,239.554,25,1,2,0,40,False,False,True,False
9,13/07/2015,235,11,37,239.554,29,3,1,1,8,False,False,False,True
10,20/07/2015,260,50,36,239.554,23,1,4,0,8,True,False,False,False
11,14/07/2015,260,50,36,239.554,23,1,4,0,8,True,False,False,False
12,15/07/2015,260,50,36,239.554,23,1,4,0,8,True,False,False,False
13,15/07/2015,179,51,38,239.554,31,1,0,0,1,True,False,False,False
14,15/07/2015,179,51,38,239.554,31,1,0,0,4,False,False,False,True
15,17/07/2015,246,25,41,239.554,23,1,0,0,8,True,False,False,False
16,17/07/2015,179,51,38,239.554,31,1,0,0,2,False,False,False,True
17,27/07/2015,179,51,38,239.554,31,1,0,0,8,False,False,True,False
18,30/07/2015,189,29,33,239.554,25,1,2,2,8,True,False,False,False
19,05/08/2015,248,25,47,205.917,32,1,2,1,2,False,False,False,True

In [178]:
column_names_reordered = ['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Date', 'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours']

In [179]:
df = df[column_names_reordered]

In [180]:
df.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,False,False,False,True,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,False,False,False,False,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,False,False,False,True,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,True,False,False,False,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,False,False,False,True,23/07/2015,289,36,33,239.554,30,1,2,1,2

In [181]:
df_checkpoint = df.copy()
df_checkpoint.head(20)

,Reason_1,Reason_2,Reason_3,Reason_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,False,False,False,True,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,False,False,False,False,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,False,False,False,True,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,True,False,False,False,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,False,False,False,True,23/07/2015,289,36,33,239.554,30,1,2,1,2
5,False,False,False,True,10/07/2015,179,51,38,239.554,31,1,0,0,2
6,False,False,False,True,17/07/2015,361,52,28,239.554,27,1,1,4,8
7,False,False,False,True,24/07/2015,260,50,36,239.554,23,1,4,0,4
8,False,False,True,False,06/07/2015,155,12,34,239.554,25,1,2,0,40
9,False,False,False,True,13/07/2015,235,11,37,239.554,29,3,1,1,8
10,True,False,False,False,20/07/2015,260,50,36,239.554,23,1,4,0,8
11,True,False,False,False,14/07/2015,260,50,36,239.554,23,1,4,0,8
12,True,False,False,False,15/07/2015,260,50,36,239.554,23,1,4,0,8
13,True,False,False,False,15/07/2015,179,51,38,239.554,31,1,0,0,1
14,False,False,False,True,15/07/2015,179,51,38,239.554,31,1,0,0,4
15,True,False,False,False,17/07/2015,246,25,41,239.554,23,1,0,0,8
16,False,False,False,True,17/07/2015,179,51,38,239.554,31,1,0,0,2
17,False,False,True,False,27/07/2015,179,51,38,239.554,31,1,0,0,8
18,True,False,False,False,30/07/2015,189,29,33,239.554,25,1,2,2,8
19,False,False,False,True,05/08/2015,248,25,47,205.917,32,1,2,1,2

In [182]:
df_reason_mod = df_checkpoint

In [183]:
type(df_reason_mod['Date'][0])

str

In [184]:
df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'], format='%d/%m/%Y')

In [185]:
type(df_reason_mod['Date'])

pandas.core.series.Series

In [186]:
df_reason_mod.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Reason_1                   700 non-null    bool
 1   Reason_2                   700 non-null    bool
 2   Reason_3                   700 non-null    bool
 3   Reason_4                   700 non-null    bool
 4   Date                       700 non-null    datetime64[ns]
 5   Transportation Expense     700 non-null    int64
 6   Distance to Work           700 non-null    int64
 7   Age                        700 non-null    int64
 8   Daily Work Load Average    700 non-null    float64
 9   Body Mass Index            700 non-null    int64
 10  Education                  700 non-null    int64
 11  Children                   700 non-null    int64
 12  Pets                       700 non-null    int64
 13  Absenteeism Time in Hours  700 non-null    int64
dtypes: bool(4), datetime64[ns](1), float64(1), int64(8)
memory usage: 57.6 KB

In [187]:
df_reason_mod['Date'][0]

Timestamp('2015-07-07 00:00:00')

In [188]:
df_reason_mod['Date'][0].month

7

In [189]:
list_months = []
list_months

[]

In [190]:
for i in range(df_reason_mod.shape[0]):
    list_months.append(df_reason_mod['Date'][i].month)

In [207]:
list_months[0:30]

[7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8]

In [192]:
len(list_months)

700

In [193]:
df_reason_mod['Month of the Week'] = list_months

In [194]:
df_reason_mod.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month of the Week
0,False,False,False,True,2015-07-07,289,36,33,239.554,30,1,2,1,4,7
1,False,False,False,False,2015-07-14,118,13,50,239.554,31,1,1,0,0,7
2,False,False,False,True,2015-07-15,179,51,38,239.554,31,1,0,0,2,7
3,True,False,False,False,2015-07-16,279,5,39,239.554,24,1,2,0,4,7
4,False,False,False,True,2015-07-23,289,36,33,239.554,30,1,2,1,2,7

In [195]:
list_days = []
list_days

[]

In [196]:
for i in range(df_reason_mod.shape[0]):
    list_days.append(df_reason_mod['Date'][i].weekday())

In [197]:
df_reason_mod['Day of the Week'] = list_days

In [198]:
df_reason_mod.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month of the Week,Day of the Week
0,False,False,False,True,2015-07-07,289,36,33,239.554,30,1,2,1,4,7,1
1,False,False,False,False,2015-07-14,118,13,50,239.554,31,1,1,0,0,7,1
2,False,False,False,True,2015-07-15,179,51,38,239.554,31,1,0,0,2,7,2
3,True,False,False,False,2015-07-16,279,5,39,239.554,24,1,2,0,4,7,3
4,False,False,False,True,2015-07-23,289,36,33,239.554,30,1,2,1,2,7,3

In [199]:
df_reason_mod['Education'].unique()

array([1, 3, 2, 4])

In [200]:
df_reason_mod['Education'].value_counts()

Education
1    583
3     73
2     40
4      4
Name: count, dtype: int64

In [201]:
df_reason_mod['Education'] = df_reason_mod['Education'].map({1:0,2:1,3:1,4:1})

In [202]:
df_reason_mod['Education'].unique()

array([0, 1])

In [203]:
df_reason_mod['Education'].value_counts()

Education
0    583
1    117
Name: count, dtype: int64

In [204]:
df_reason_mod.head(20)

,Reason_1,Reason_2,Reason_3,Reason_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month of the Week,Day of the Week
0,False,False,False,True,2015-07-07,289,36,33,239.554,30,0,2,1,4,7,1
1,False,False,False,False,2015-07-14,118,13,50,239.554,31,0,1,0,0,7,1
2,False,False,False,True,2015-07-15,179,51,38,239.554,31,0,0,0,2,7,2
3,True,False,False,False,2015-07-16,279,5,39,239.554,24,0,2,0,4,7,3
4,False,False,False,True,2015-07-23,289,36,33,239.554,30,0,2,1,2,7,3
5,False,False,False,True,2015-07-10,179,51,38,239.554,31,0,0,0,2,7,4
6,False,False,False,True,2015-07-17,361,52,28,239.554,27,0,1,4,8,7,4
7,False,False,False,True,2015-07-24,260,50,36,239.554,23,0,4,0,4,7,4
8,False,False,True,False,2015-07-06,155,12,34,239.554,25,0,2,0,40,7,0
9,False,False,False,True,2015-07-13,235,11,37,239.554,29,1,1,1,8,7,0
10,True,False,False,False,2015-07-20,260,50,36,239.554,23,0,4,0,8,7,0
11,True,False,False,False,2015-07-14,260,50,36,239.554,23,0,4,0,8,7,1
12,True,False,False,False,2015-07-15,260,50,36,239.554,23,0,4,0,8,7,2
13,True,False,False,False,2015-07-15,179,51,38,239.554,31,0,0,0,1,7,2
14,False,False,False,True,2015-07-15,179,51,38,239.554,31,0,0,0,4,7,2
15,True,False,False,False,2015-07-17,246,25,41,239.554,23,0,0,0,8,7,4
16,False,False,False,True,2015-07-17,179,51,38,239.554,31,0,0,0,2,7,4
17,False,False,True,False,2015-07-27,179,51,38,239.554,31,0,0,0,8,7,0
18,True,False,False,False,2015-07-30,189,29,33,239.554,25,0,2,2,8,7,3
19,False,False,False,True,2015-08-05,248,25,47,205.917,32,0,2,1,2,8,2

In [205]:
df_cleaned = df_reason_mod.copy()
df_cleaned.head(20)

,Reason_1,Reason_2,Reason_3,Reason_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month of the Week,Day of the Week
0,False,False,False,True,2015-07-07,289,36,33,239.554,30,0,2,1,4,7,1
1,False,False,False,False,2015-07-14,118,13,50,239.554,31,0,1,0,0,7,1
2,False,False,False,True,2015-07-15,179,51,38,239.554,31,0,0,0,2,7,2
3,True,False,False,False,2015-07-16,279,5,39,239.554,24,0,2,0,4,7,3
4,False,False,False,True,2015-07-23,289,36,33,239.554,30,0,2,1,2,7,3
5,False,False,False,True,2015-07-10,179,51,38,239.554,31,0,0,0,2,7,4
6,False,False,False,True,2015-07-17,361,52,28,239.554,27,0,1,4,8,7,4
7,False,False,False,True,2015-07-24,260,50,36,239.554,23,0,4,0,4,7,4
8,False,False,True,False,2015-07-06,155,12,34,239.554,25,0,2,0,40,7,0
9,False,False,False,True,2015-07-13,235,11,37,239.554,29,1,1,1,8,7,0
10,True,False,False,False,2015-07-20,260,50,36,239.554,23,0,4,0,8,7,0
11,True,False,False,False,2015-07-14,260,50,36,239.554,23,0,4,0,8,7,1
12,True,False,False,False,2015-07-15,260,50,36,239.554,23,0,4,0,8,7,2
13,True,False,False,False,2015-07-15,179,51,38,239.554,31,0,0,0,1,7,2
14,False,False,False,True,2015-07-15,179,51,38,239.554,31,0,0,0,4,7,2
15,True,False,False,False,2015-07-17,246,25,41,239.554,23,0,0,0,8,7,4
16,False,False,False,True,2015-07-17,179,51,38,239.554,31,0,0,0,2,7,4
17,False,False,True,False,2015-07-27,179,51,38,239.554,31,0,0,0,8,7,0
18,True,False,False,False,2015-07-30,189,29,33,239.554,25,0,2,2,8,7,3
19,False,False,False,True,2015-08-05,248,25,47,205.917,32,0,2,1,2,8,2